.logInContainer{
  background: rgba(34, 75, 100, 0.8);
  color: white;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(0,159,255,0.25);
  border-radius: 5px;
  padding: 40px 15px;
  width: 300px;
}
.logInForm{
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
  font-size: medium;
}
.logInInput{
  background-color: white;
  color: black;
  border-radius: 5px;
  font-size: larger;
}
.buttonContainer{
 display: flex;
 justify-content: space-between;
 margin: 10px 0;
}
.signUpButton{
  background-color: transparent;
  color: white;
  border: none;
  font-size: small;
}